<!-- 
   <header class="header">
    <div class="header__top top">
        <span class="header__top-logo logo">LOGO</span>
        <nav class="header__top-nav h_nav">
            <a href="#" class="h_nav-link">link1</a>
            <a href="#" class="h_nav-link">link2</a>
            <a href="#" class="h_nav-link">link3</a>
            <a href="#" class="h_nav-link">link4</a>
        </nav>
    </div>
    <div class="header__bottom bottom">
        <div class="header__information information">
            <p class="information__intro intro">Intro</p>
            <p class="information__text text">
                Some introduction
                <br>lines about the
                <br>website or company
            </p>
        </div>
        <div class="header__image"></div>
    </div>
</header> -->

<header class="header">
  <div class="header__top">
    <span class="header__logo">LOGO</span>
    <nav class="header__nav">
      <a href="#">link1</a>
      <a href="#">link2</a>
      <a href="#">link3</a>
      <a href="#">link4</a>
    </nav>
  </div>
  <div class="header__bottom">
    <div class="header__information">
      <p class="header__title">Intro</p>
      <p class="header__text">
        Some introduction <br />lines about the <br />
        website or company
      </p>
    </div>
    <div class="header__img"></div>
  </div>
</header>

<main class="main">
  <div class="main__dots dots">
    <div class="dots__dot dot"></div>
    <div class="dots__dot dot"></div>
    <div class="dots__dot dot"></div>
    <div class="dots__dot dot"></div>
  </div>
  <ul class="main__services-list services-list">
    <li class="services-list__service-item service_item">Service</li>
    <li class="services-list__service-item service_item">Service</li>
    <li class="services-list__service-item service_item">Service</li>
    <li class="services-list__service-item service_item">Service</li>
    <li class="services-list__service-item service_item">Service</li>
    <li class="services-list__service-item service_item">Service</li>
  </ul>
  <section class="main__section section">
    <p>Twitter Feed</p>
  </section>
</main>

<footer class="footer">
  <nav class="footer__nav f_nav">
    <a href="#" class="f_nav-link">link1</a>
    <a href="#" class="f_nav-link">link2</a>
    <a href="#" class="f_nav-link">link3</a>
    <a href="#" class="f_nav-link">link4</a>
  </nav>
  <a href="#" class="footer__info">Info</a>
</footer>
